<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 50px;">
        <div style="display: flex; flex-direction: column; width: 100%;">
            <div class="bg">
                <button class="btn">TOP 10</button>
                <div class="for-bg" *ngFor="let item of image;let i=index">
                    <div class="data-bg">
                        <div>
                            <h1>#{{i+1}}</h1>
                        </div>
                        <div>
                            <button id="bottone1"><strong>{{item.total_score}}</strong></button>
                        </div>
                        <div>rank</div>
                        <div>
                            <div *ngIf="i == 0 else more" id="card" class="card">
                                <div class="content one-div">
                                    <img class="show-image" src="{{item.ImageURL}}">
                                </div>
                            </div>
                            <ng-template #more>
                                <img class="show-image" src="{{item.ImageURL}}">
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>