<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 50px;">
        <div style="display: flex; flex-direction: column; width: 100%;">
            <div class="bg">
                <button class="top10" style="margin-top: 20px;margin-bottom: 20px;">
                    TOP 10
                    <svg height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V24H0z" fill="none"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path></svg>
                  </button>
                <div class="for-bg" *ngFor="let item of image;let i=index;">
                    <div *ngIf="i < 10" class="data-bg">
                        <div>
                            <div *ngIf="i == 0 else moremore" class="no1">
                                <svg class="svg-icon" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" width="100" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
                                 <path d="M62.11,53.93c22.582-3.125,22.304-23.471,18.152-29.929-4.166-6.444-10.36-2.153-10.36-2.153v-4.166H30.099v4.166s-6.194-4.291-10.36,2.153c-4.152,6.458-4.43,26.804,18.152,29.929l5.236,7.777v8.249s-.944,4.597-4.833,4.986c-3.903,.389-7.791,4.028-7.791,7.374h38.997c0-3.347-3.889-6.986-7.791-7.374-3.889-.389-4.833-4.986-4.833-4.986v-8.249l5.236-7.777Zm7.388-24.818s2.833-3.097,5.111-1.347c2.292,1.75,2.292,15.86-8.999,18.138l3.889-16.791Zm-44.108-1.347c2.278-1.75,5.111,1.347,5.111,1.347l3.889,16.791c-11.291-2.278-11.291-16.388-8.999-18.138Z">
                                 </path>
                               </svg>  
                               <div class="container__star">
                                 <div class="star-eight"></div>
                               </div>
                               <div></div>
                            </div>
                            <ng-template #moremore>
                                <button class="button">
                                    <span class="button__span">#{{i+1}}</span>
                                </button>
                            </ng-template>
                        </div>
                        <div>
                            <button class="btn"><span>{{item.total_score}}</span></button>
                        </div>
                        <div>
                            <button class="button" style="display: flex;flex-direction: row;align-items: center;">
                                <!-- <span class="button__span">{{this.NumRank[i]}}</span> -->
                                <div *ngIf="(i+1) - this.NumRankYesterday[i] > 0" style="display: flex;flex-direction: row;align-items: center;">
                                    <svg fill="#d33131" height="45px" width="45px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M16,29c-0.3,0-0.5-0.1-0.7-0.3L7,20.4c-0.6-0.6-0.7-1.4-0.4-2.2s1-1.2,1.8-1.2H12V5c0-1.1,0.9-2,2-2h4c1.1,0,2,0.9,2,2v12 h3.6c0.8,0,1.5,0.5,1.8,1.2s0.1,1.6-0.4,2.2l-8.3,8.3C16.5,28.9,16.3,29,16,29z"></path> </g> </g></svg>
                                    <span style="color: #d33131;font-size: 25px;font-weight: 700;">{{(i+1) - this.NumRankYesterday[i]}}</span>
                                </div>
                                <div *ngIf="(i+1) - this.NumRankYesterday[i] < 0" style="display: flex;flex-direction: row;align-items: center;">
                                    <svg fill="#31d359" height="45px" width="45px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M18,29h-4c-1.1,0-2-0.9-2-2V15H8.4c-0.8,0-1.5-0.5-1.8-1.2S6.4,12.2,7,11.6l8.3-8.3c0.4-0.4,1-0.4,1.4,0l8.3,8.3 c0.6,0.6,0.7,1.4,0.4,2.2s-1,1.2-1.8,1.2H20v12C20,28.1,19.1,29,18,29z"></path> </g> </g></svg>
                                    <span style="color: #31d359;font-size: 25px;font-weight: 700;">{{this.NumRankYesterday[i] - (i+1)}}</span>
                                </div>
                                <div *ngIf="(i+1) - this.NumRankYesterday[i] == 0" style="display: flex;flex-direction: row;align-items: center;">
                                    <svg fill="#43abdf" height="100px" width="100px" viewBox="-6.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>hyphen</title> <path d="M13.875 12.906v2.281h-8.563v-2.281h8.563z"></path> </g></svg>
                                </div>
                            </button>
                        </div>
                        <div>
                            <div>
                                <div class="content one-div">
                                    <img class="show-image" src="{{item.ImageURL}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>