<div class="container">
    <div class="section-banner" style="position: absolute;">
        <div id="star-1">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-2">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-3">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-4">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-5">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-6">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
        <div id="star-7">
          <div class="curved-corner-star">
            <div id="curved-corner-bottomright"></div>
            <div id="curved-corner-bottomleft"></div>
          </div>
          <div class="curved-corner-star">
            <div id="curved-corner-topright"></div>
            <div id="curved-corner-topleft"></div>
          </div>
        </div>
      </div>
    <div style="display: flex; flex-direction: row; margin-top: 2%;justify-content: center;">
        <div style="display: flex; flex-direction: column;">
            <div class="profile">
                <div style="display: flex;flex-direction: column; align-items: center;justify-content: center;width: 300px;">
                  <div *ngIf="this.show == true else other">
                    <div *ngIf="this.loadAvatar == false else LoaderAvartar">
                      <input type="file" #avartar style="display: none" (change)="onAvatar($event)">
                      <img (click)="avartar.click()" *ngIf="this.Avatar == null" class="img-profile" src="https://www.366icons.com/media/01/profile-avatar-account-icon-16699.png" style="cursor: pointer;">
                      <img (click)="avartar.click()" *ngIf="this.Avatar != null " class="img-profile" src="{{ this.user[0].Avatar }}" style="cursor: pointer;">
                    </div>
                    <ng-template #LoaderAvartar>
                      <div class="loader"></div>
                    </ng-template>
                  </div>
                  <ng-template #other>
                    <img *ngIf="this.Avatar == null" class="img-profile" src="https://www.366icons.com/media/01/profile-avatar-account-icon-16699.png">
                    <img *ngIf="this.Avatar != null " class="img-profile" src="{{ this.user[0].Avatar }}" >
                  </ng-template>
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;margin-left: 6%;">
                  <ng-container *ngIf="this.show != true else otherinput">
                    <div *ngIf="this.user">
                      <div class="user-profile" style="font-size: 40px;text-align: center;">{{ this.user[0].Username }}</div>
                      <br>
                      <div class="email-profile" style="font-size: 20px;text-align: center;">{{ this.user[0].Email }}</div>
                    </div>
                  </ng-container>
                  <ng-template #otherinput>
                    <div *ngIf="this.user">
                      <input  class="user-profile" style="font-size: 50px;text-align: center;" type="text" value="{{ this.user[0].Username }}" #username/>
                      <br>
                      <div style="display: flex;flex-direction: row;align-items: center;">
                        <input class="email-profile" style="font-size: 25px;text-align: center;" type="text" value="{{ this.user[0].Email }}" #email/>
                        <div class="container-button" (click)="ChangeInformation(username,email)">
                          <div class="hover bt-1"></div>
                          <div class="hover bt-2"></div>
                          <div class="hover bt-3"></div>
                          <div class="hover bt-4"></div>
                          <div class="hover bt-5"></div>
                          <div class="hover bt-6"></div>
                          <button class="save"></button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
            </div>
            <div class="image-bg">
                <div *ngFor="let item of image" style="position: relative;display: flex;align-items: flex-end;">
                  <div *ngIf="this.show == true else otherimg">
                    <img routerLink="/image" [queryParams]="{posts: item.Pid}" class="in-image-bg" src="{{item.ImageURL}}" style="cursor: pointer;">
                    <button class="bin-button" (click)="DeletePost(item.Pid)">
                        <svg class="bin-top" viewBox="0 0 39 7"fill="none"xmlns="http://www.w3.org/2000/svg">
                          <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                          <line x1="12" y1="1.5" x2="26.0357" y2="1.5" stroke="white"stroke-width="3"></line>
                        </svg>
                        <svg class="bin-bottom"viewBox="0 0 33 39" fill="none"xmlns="http://www.w3.org/2000/svg">
                          <mask id="path-1-inside-1_8_19" fill="white">
                            <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"></path>
                          </mask>
                          <path d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"fill="white"mask="url(#path-1-inside-1_8_19)"></path>
                          <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
                          <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                        </svg>
                      </button>
                  </div>
                  <ng-template #otherimg>
                    <img class="in-image-bg" src="{{item.ImageURL}}">
                  </ng-template>
                </div>
                <!-- Loader -->
                <div *ngIf="this.load == true" aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                    <div class="wheel"></div>
                    <div class="hamster">
                        <div class="hamster__body">
                            <div class="hamster__head">
                                <div class="hamster__ear"></div>
                                <div class="hamster__eye"></div>
                                <div class="hamster__nose"></div>
                            </div>
                            <div class="hamster__limb hamster__limb--fr"></div>
                            <div class="hamster__limb hamster__limb--fl"></div>
                            <div class="hamster__limb hamster__limb--br"></div>
                            <div class="hamster__limb hamster__limb--bl"></div>
                            <div class="hamster__tail"></div>
                        </div>
                    </div>
                    <div class="spoke"></div>
                </div>
                <div tabindex="0" class="plusButton btn-upload" *ngIf="this.image.length < 5 && this.show == true && this.load == false">
                    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                    <svg (click)="fileInput.click()" class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                      <g mask="url(#mask0_21_345)">
                        <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                      </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>