<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 2%;justify-content: center;">
        <div style="display: flex; flex-direction: column;">
            <div class="profile">
                <div style="display: flex; 
                flex-direction: column; 
                align-items: center;
                justify-content: center; 
                width: 300px;">
                    <img *ngIf="this.Avatar == null" class="img-profile" src="https://www.366icons.com/media/01/profile-avatar-account-icon-16699.png">
                    <img *ngIf="this.Avatar != null " class="img-profile" src="{{ this.user[0].Avatar }}">
                </div>
                
                <div style="display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 6%;">
                    <div *ngIf="this.user" class="user-profile" style="font-size: 50px;">{{ this.user[0].Username }}</div>
                    <br>
                    <div *ngIf="this.user" class="email-profile">{{ this.user[0].Email }}</div>
                </div>
            </div>
            <div class="image-bg">
                <div *ngFor="let item of image">
                    <img class="in-image-bg" src="{{item.ImageURL}}" alt="">
                </div>
                <div tabindex="0" class="plusButton btn-upload" *ngIf="this.image.length < 5">
                    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                    <svg (click)="fileInput.click()" class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                      <g mask="url(#mask0_21_345)">
                        <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                      </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>