@import url("../../../../../node_modules/bootstrap/dist/css/bootstrap-grid.css");

.img-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 500px;
  height: 600px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.posts-img{
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  width: 350px;
  height: 450px;
}

.data-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 600px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.data-rank {
  border-radius: 20px;
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffffa2;
  border-radius: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.in-data-rank{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-graph {
  border-radius: 20px;
  background-color: rgb(211, 211, 211);
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.comment-react {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  scale: 1;
  width: 100px;
  margin-top: 20px;
}

.comment-react button {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: none;
}

.comment-react button:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: -3px;
  top: -3px;
  background-color: #f5356e;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
}

.comment-react button svg {
  position: relative;
  z-index: 9;
}

.comment-react button:hover:after {
  animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button svg {
  fill: #f5356e;
}

.comment-react button svg path {
  stroke: #f5356e;
  fill: #f5356e;
}

.comment-react hr {
  width: 80%;
  height: 1px;
  background-color: #dfe1e6;
  margin: auto;
  border: 0;
}

.comment-react span {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  color: #707277;
  padding-right: 10px;
  text-align: center;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
