<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 2%;">
        <div style="display: flex; flex-direction: column;">
            <div class="img-bg" *ngIf="image">
                <img width="350px" height="450px" src="{{ image[0].ImageURL }}" style="border-radius: 10px;">     
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="data-bg">
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-rank">
                        <div class="in-data-rank">
                            <span>อันดับปัจจุบัน</span>
                            <span>{{ this.NumNowRank }}</span>
                        </div>
                        <div class="in-data-rank">
                            <span>อันดับก่อนหน้า</span>
                            <span>{{ this.NumNowRank }}</span>
                        </div>
                        <div class="in-data-rank">
                            <span>สรุปผล</span>
                            <span>{{ this.NumNowRank }}</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-graph">
                        
                            <p-chart type="line" [data]="day" [options]="scroe"></p-chart>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>