@import url("../../../../../node_modules/bootstrap/dist/css/bootstrap-grid.css");

.img-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 500px;
  height: 600px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.data-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 600px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.data-rank {
  border-radius: 20px;
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffffa2;
  border-radius: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.in-data-rank{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-graph {
  border-radius: 20px;
  background-color: rgb(211, 211, 211);
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}


