<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 2%;">
        <div style="display: flex; flex-direction: column;">
            <div class="img-bg" *ngIf="this.image">
                <input type="file" #post style="display: none" (change)="onChangePost($event)">
                <ng-container *ngIf="this.admin != true else adminshow">
                    <img class="posts-img" (click)="post.click()" src="{{ image[0].ImageURL }}">
                <span style="margin-top: 10px;color: white;">( เปลี่ยนรูปภาพคลิกที่ภาพ )</span>
                </ng-container>
                <ng-template #adminshow>
                    <img class="posts-img" src="{{ image[0].ImageURL }}" style="cursor: default;">
                </ng-template>
                <div class="comment-react">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22"
                        height="22"
                        viewBox="0 0 24 24"
                        fill="none">
                        <path
                          d="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"
                          stroke="#707277"
                          stroke-width="2"
                          stroke-linecap="round"
                          fill="#707277">
                        </path>
                      </svg>
                    </button>
                    <span>{{ this.score }}</span>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="data-bg">
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-rank">
                        <div class="in-data-rank">
                            <span>อันดับปัจจุบัน</span>
                            <span>{{ this.rank }}</span>
                        </div>
                        <div class="in-data-rank">
                            <span>อันดับเมื่อวาน</span>
                            <ng-container *ngIf="this.NumNowRank != 0 else newPost">
                                <span>{{ this.NumNowRank }}</span>
                            </ng-container>
                            <ng-template #newPost>
                                <span>New!!!</span>
                            </ng-template>
                        </div>
                        <div class="in-data-rank">
                            <span>สรุปผล</span>
                            <span *ngIf="this.NumNowRank>this.rank">
                                +{{this.NumNowRank - this.rank}}
                            </span>
                            <span *ngIf="this.NumNowRank<this.rank && this.NumNowRank != 0">
                                -{{this.rank - this.NumNowRank}}
                            </span>
                            <span *ngIf="this.NumNowRank==this.rank">
                               -
                            </span>
                            <span *ngIf="this.NumNowRank == 0">
                                -
                             </span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-graph">
                        <p-chart type="line" [data]="day" [options]="scroe"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>