<div class="container">
    <div style="display: flex; flex-direction: row; margin-top: 2%;">
        <div style="display: flex; flex-direction: column;">
            <div class="img-bg">
                <img width="400px" height="400px" src="https://static.vecteezy.com/system/resources/previews/000/420/681/original/picture-icon-vector-illustration.jpg" alt="">     
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="data-bg">
                <div style="display: flex; justify-content: flex-end;margin: 3%;">
                    <button mat-raised-button color="warn">delete</button>
                    <button mat-raised-button style="background-color: aquamarine;">save</button>
                </div>
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-rank"></div>
                </div>
                <div style="display: flex; justify-content: center;margin-top: 2%;">
                    <div class="data-graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>