<div class="container">
    <div *ngIf="data else loading" class="bg">
        <div class="for-bg" *ngFor="let user of data">
            <div *ngIf="user.Type == 'user'" class="data-bg" routerLink="/profiles" [queryParams]="{user: user.UserID}">
                <div style="display: flex; flex-direction: row;">
                    <div (click)="IDuser(user.UserID)">
                        <img class="img-boder" src="{{user.Avatar}}">
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;align-items: center;justify-content: center; width: 70%;">
                    <div class="user-profile">
                        {{user.Username}}
                    </div>
                    <div class="email-profile">
                        {{user.Email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="container-spider center">
            <div class="rope center">
              <div class="legs center">
                <div class="boot-l"></div>
                <div class="boot-r"></div>
              </div>
              <div class="costume center">
                <div class="spider">
                  <div class="s1 center"></div>
                  <div class="s2 center"></div>
                  <div class="s3"></div>
                  <div class="s4"></div>
                </div>
                <div class="belt center"></div>
                <div class="hand-r"></div>
                <div class="hand-l"></div>
                <div class="neck center"></div>
                <div class="mask center">
                  <div class="eye-l"></div>
                  <div class="eye-r"></div>
                </div>
                <div class="cover center"></div>
              </div>
          </div>
        </div>
    </ng-template>
</div>