.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.bg-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 600px;
}
.image{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    outline: 3px double grey;
}